@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

*::-webkit-scrollbar {
  display: none;
}

/* here is some animations) */

@keyframes showUp {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes showDown {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes showLeft {
  0% {
    opacity: 0;
    transform: translateX(-30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes showRight {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes bounce-in {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}

.show-up {
  opacity: 0;
  animation: showUp 300ms ease-out;
  animation-fill-mode: forwards;
}

.show-down {
  opacity: 0;
  animation: showDown 300ms ease-out;
  animation-fill-mode: forwards;
}

.show-left {
  opacity: 0;
  animation: showLeft 300ms ease-out;
  animation-fill-mode: forwards;
}
.show-right {
  opacity: 0;
  animation: showRight 300ms ease-out;
  animation-fill-mode: forwards;
}

.popup-enter-active {
  animation: bounce-in 150ms;
}
.popup-leave-active {
  animation: bounce-in 150ms reverse;
}

.opacity-enter-active,
.opacity-leave-active {
  transition: opacity 150ms ease;
}

.opacity-enter-from,
.opacity-leave-to {
  opacity: 0;
}
